html {
    font-family: "Roboto", sans-serif;
    font-size: 10px;
    box-sizing: border-box;
}

body {
    margin: 0;
}

header {
    background-color: #1f2937;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 15px;
    list-style-type: none;
    margin: 0 10%;
    padding: 20px 0;
}

.push-left {
    margin-right: auto;
    font-size: 2.4rem;
    font-weight: 900;
    color: #f9faf8;
}

.push-right {
    font-size: 1.8rem;
    color: #e5e7eb;
}